@font-face {
	font-family: Iosevka Fixed Slab;
	src: url(fonts/iosevka-fixed-slab/iosevka-fixed-slab-regular.ttf);
}

header {
	background-color: darkolivegreen;

}

body {
	background-color: olivedrab;
	color: white;
}

.date-type {
	font-family: serif;
	font-variant: small-caps;
	font-size: xx-large;
}

.aquila {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
	border-radius: 5px;
	border-color: silver;
}

.main-container {
	margin-top: 180px;
	text-align: center;
}

.imperial-time {
	font-family: Iosevka Fixed Slab, monospace;
	font-size: larger;
	color: black;
	text-shadow: 0px 2px 1px #2B41B4;
	background-color: #648DF7;
	border-radius: 5px;
	border-style: inset;
	border-color: darkolivegreen;
	box-shadow: inset 0px 0px 5px #2B41B4;
	margin-left: 550px;
	margin-right: 550px;
}